In [1]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
df_data=pd.read_csv("orange_small_churn_data.csv")
name=['target']
target=pd.read_csv("orange_small_churn_labels.csv",names=name)
df_data.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,NaN,NaN,NaN,NaN,NaN,3052.0,NaN,NaN,NaN,NaN,...,Al6ZaUT,vr93T2a,LM8l689qOp,NaN,NaN,fKCe,02N6s8f,xwM2aC7IdeMC0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,1813.0,7.0,NaN,NaN,NaN,...,oslk,6hQ9lNX,LM8l689qOp,NaN,ELof,xb3V,RAYp,55YFVY9,mj86,NaN
2,NaN,NaN,NaN,NaN,NaN,1953.0,7.0,NaN,NaN,NaN,...,zCkv,catzS2D,LM8l689qOp,NaN,NaN,FSa2,ZI9m,ib5G6X1eUxUn6,mj86,NaN
3,NaN,NaN,NaN,NaN,NaN,1533.0,7.0,NaN,NaN,NaN,...,oslk,e4lqvY0,LM8l689qOp,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,686.0,7.0,NaN,NaN,NaN,...,oslk,MAz3HNj,LM8l689qOp,NaN,NaN,WqMG,RAYp,F2FyR07IdsN7I,NaN,NaN

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
to_drop=[]
for i in df_data.columns:
    if df_data.isna().sum()[i]/df_data.shape[0]==1:
#         print(i,df_data.isna().sum()[i]/df_data.shape[0])
        to_drop.append(i)
df_data.drop(columns=to_drop,inplace=True)
df_data.shape

(40000, 212)

__First approach__

In [4]:
n=0
to_drop_90=[]
for i in df_data.columns:
    if df_data.isna().sum()[i]/df_data.shape[0]>0.9:
        n+=1
        to_drop_90.append(i)
#         print(i,df_data.isna().sum()[i]/df_data.shape[0])
print(f'absolute :{n}, persent: {n/(df_data.shape[1])*100} %')

absolute :136, persent: 64.15094339622641 %

In [5]:
df_data.drop(columns=to_drop_90,inplace=True)
df_data.shape

(40000, 76)

In [6]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 76 columns):
Var6      35565 non-null float64
Var7      35560 non-null float64
Var13     35560 non-null float64
Var21     35565 non-null float64
Var22     35984 non-null float64
Var24     34184 non-null float64
Var25     35984 non-null float64
Var28     35983 non-null float64
Var35     35984 non-null float64
Var38     35984 non-null float64
Var44     35984 non-null float64
Var57     40000 non-null float64
Var65     35560 non-null float64
Var72     22063 non-null float64
Var73     40000 non-null int64
Var74     35560 non-null float64
Var76     35984 non-null float64
Var78     35984 non-null float64
Var81     35565 non-null float64
Var83     35984 non-null float64
Var85     35984 non-null float64
Var94     22063 non-null float64
Var109    34184 non-null float64
Var112    35984 non-null float64
Var113    40000 non-null float64
Var119    35565 non-null float64
Var123    35984 non-null float64
Var125    35560 non-null float64
Var126    28892 non-null float64
Var132    35984 non-null float64
Var133    35984 non-null float64
Var134    35984 non-null float64
Var140    35560 non-null float64
Var143    35984 non-null float64
Var144    35565 non-null float64
Var149    34184 non-null float64
Var153    35984 non-null float64
Var160    35984 non-null float64
Var163    35984 non-null float64
Var173    35984 non-null float64
Var181    35984 non-null float64
Var189    16785 non-null float64
Var192    39709 non-null object
Var193    40000 non-null object
Var194    10190 non-null object
Var195    40000 non-null object
Var196    40000 non-null object
Var197    39877 non-null object
Var198    40000 non-null object
Var199    39996 non-null object
Var200    19634 non-null object
Var201    10190 non-null object
Var202    39999 non-null object
Var203    39877 non-null object
Var204    40000 non-null object
Var205    38453 non-null object
Var206    35565 non-null object
Var207    40000 non-null object
Var208    39877 non-null object
Var210    40000 non-null object
Var211    40000 non-null object
Var212    40000 non-null object
Var214    19634 non-null object
Var216    40000 non-null object
Var217    39440 non-null object
Var218    39440 non-null object
Var219    35804 non-null object
Var220    40000 non-null object
Var221    40000 non-null object
Var222    40000 non-null object
Var223    35804 non-null object
Var225    19065 non-null object
Var226    40000 non-null object
Var227    40000 non-null object
Var228    40000 non-null object
Var229    17223 non-null object
dtypes: float64(41), int64(1), object(34)
memory usage: 23.2+ MB

In [7]:
from sklearn.preprocessing import StandardScaler
df_data.loc[:,'Var6':'Var189'] = df_data.loc[:,'Var6':'Var189'].fillna(0)
scaler = StandardScaler()
# transform data
df_data.loc[:,'Var6':'Var189'] = scaler.fit_transform(df_data.loc[:,'Var6':'Var189'])
df_data.head()

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var219,Var220,Var221,Var222,Var223,Var225,Var226,Var227,Var228,Var229
0,0.752687,-0.958402,-0.435374,0.510740,0.510405,1.732064,1.937188,-0.015488,-0.228314,-0.755665,...,FzaX,hLKtJ9p,Al6ZaUT,vr93T2a,LM8l689qOp,NaN,fKCe,02N6s8f,xwM2aC7IdeMC0,NaN
1,0.256220,0.152660,-0.185192,0.007612,0.007236,-0.198774,0.204009,-0.306799,-0.228314,0.131912,...,FzaX,hN8KpA1,oslk,6hQ9lNX,LM8l689qOp,ELof,xb3V,RAYp,55YFVY9,mj86
2,0.312318,0.152660,-0.259145,-0.059972,-0.060354,-0.413312,-0.071724,0.958101,-0.228314,0.806099,...,FzaX,4UxGlow,zCkv,catzS2D,LM8l689qOp,NaN,FSa2,ZI9m,ib5G6X1eUxUn6,mj86
3,0.144024,0.152660,-0.433801,0.232893,0.232535,-0.413312,0.282790,0.159437,1.558882,-0.491212,...,FzaX,ylCK5YS,oslk,e4lqvY0,LM8l689qOp,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN
4,-0.195369,0.152660,-0.435374,-0.090010,-0.090394,-0.198774,-0.189895,0.664003,-0.228314,0.693129,...,FzaX,PYpzAu9,oslk,MAz3HNj,LM8l689qOp,NaN,WqMG,RAYp,F2FyR07IdsN7I,NaN

In [8]:
df_data.loc[:,'Var192':'Var229']=df_data.loc[:,'Var192':'Var229'].fillna(-100)

In [9]:
categ=[]
for i in df_data.loc[:,'Var192':'Var229'].columns:
    categ.append(i)

In [10]:
dummy=pd.get_dummies(df_data.loc[:,'Var192':'Var229'])
df_data_no_categ=df_data.drop(columns=categ)

In [12]:
df_new=pd.concat([df_data_no_categ,dummy],axis=1)
df_new.head()

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var228_ib5G6X1eUxUn6,Var228_iyHGyLCEkQ,Var228_n1OBWGkV3fbsHR75taC,Var228_r_7E,Var228_xwM2aC7IdeMC0,Var229_-100,Var229_am7c,Var229_mj86,Var229_oJmt,Var229_sk2h
0,0.752687,-0.958402,-0.435374,0.510740,0.510405,1.732064,1.937188,-0.015488,-0.228314,-0.755665,...,0,0,0,0,1,1,0,0,0,0
1,0.256220,0.152660,-0.185192,0.007612,0.007236,-0.198774,0.204009,-0.306799,-0.228314,0.131912,...,0,0,0,0,0,0,0,1,0,0
2,0.312318,0.152660,-0.259145,-0.059972,-0.060354,-0.413312,-0.071724,0.958101,-0.228314,0.806099,...,1,0,0,0,0,0,0,1,0,0
3,0.144024,0.152660,-0.433801,0.232893,0.232535,-0.413312,0.282790,0.159437,1.558882,-0.491212,...,0,0,0,0,0,1,0,0,0,0
4,-0.195369,0.152660,-0.435374,-0.090010,-0.090394,-0.198774,-0.189895,0.664003,-0.228314,0.693129,...,0,0,0,0,0,1,0,0,0,0

In [16]:
from sklearn.linear_model import RidgeClassifier
from sklearn.model_selection import cross_val_score
clf = RidgeClassifier()
print(cross_val_score(clf, df_data_no_categ, target, cv=3,scoring='roc_auc').mean())
# clf = RidgeClassifier().fit(X, y)

C:\Users\slava\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6287334720074499

C:\Users\slava\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2, random_state=0)
print(cross_val_score(clf, df_data_no_categ, target, cv=3,scoring='roc_auc').mean())
# clf = RidgeClassifier().fit(X, y)

C:\Users\slava\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

0.6678392140340469

In [19]:
import xgboost as xgb
xg_reg = xgb.XGBClassifier()
print(cross_val_score(xg_reg, df_data_no_categ, target, cv=5,scoring='roc_auc').mean())
# cv=3 ->0.7195217492152777

C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\slava\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7223981330242089

In [7]:

X_train, X_test, y_train, y_test = train_test_split(df_data, target['target'], test_size=0.1, random_state=42)

In [9]:
X_test['target']=y_test
hold_out=X_test

C:\Users\slava\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
hold_out.to_csv('hold-out.csv')

In [ ]:
# df_data['target']=target.target
# df_data.shape